#treefile = castles_63K_resolved_weighted.rooted.tre
#outfile = treepl_castles_63K_resolved_weighted.rooted.tre
#treefile = astral_63K_concat_bl.rooted.tre
#outfile = treepl_minmax_astral_63K_concat_bl.rooted.tre
treefile = astral4_stiller.rooted.tre
outfile = treepl_minmax_astral4_stiller.rooted.tre

smooth = 100
numsites = 63430000

# these are the result of running prime
opt = 5
optad = 5
optcvad = 1
moredetailcvad

mrca = crown_Casuariidae Casuarius_casuarius Dromaius_novaehollandiae
min = crown_Casuariidae 23.10
max = crown_Casuariidae 42.61

mrca = crown_Rheidae Rhea_americana Rhea_pennata
min = crown_Rheidae 20.12
max = crown_Rheidae 31.69

mrca = crown_Nothurinae Eudromia_elegans Nothoprocta_perdicaria
min = crown_Nothurinae 6.02
max = crown_Nothurinae 10.87

mrca = crown_Tinaminae_part Crypturellus_soui Tinamus_guttatus
min = crown_Tinaminae_part 16.11
ma = crown_Tinaminae_part 72.78

mrca = crown_Galloanseres Gallus_gallus Anas_platyrhynchos
min = crown_Galloanseres 65.68
max = crown_Galloanseres 75.60

mrca = crown_Anatidae Anas_platyrhynchos Anser_cygnoid
min = crown_Anatidae 25.23
max = crown_Anatidae 37.27

mrca = crown_Phoenicopterimorphae Phoenicopterus_ruber Podiceps_cristatus
min = crown_Phoenicopterimorphae 32.64
max = crown_Phoenicopterimorphae 48.46

mrca = crown_Otidimorphae Tauraco_erythrolophus Ardeotis_kori
min = crown_Otidimorphae 51.83
max = crown_Otidimorphae 78.43

mrca = crown_Daedalornithes Aegotheles_bennettii Chaetura_pelagica
min = crown_Daedalornithes 54.65
max = crown_Daedalornithes 85.50

mrca = crown_Apodi Hemiprocne_comata Chaetura_pelagica
min = crown_Apodi 50.32
max = crown_Apodi 103.40

mrca = crown_Gruiformes Grus_americana Heliornis_fulica
min = crown_Gruiformes 55.63
max = crown_Gruiformes 80.40

mrca = crown_Jacanida Jacana_jacana Thinocorus_orbignyianus
min = crown_Jacanida 29.51
max = crown_Jacanida 43.88

mrca = crown_Alcini Alca_torda Uria_aalge
min = crown_Alcini 16.03
max = crown_Alcini 38.48

mrca  = crown_Phaethontimorphae Phaethon_lepturus Eurypyga_helias
min = crown_Phaethontimorphae 55.95
max = crown_Phaethontimorphae 62.31

mrca = crown_Procellariimorphae Pygoscelis_adeliae Fulmarus_glacialis
min = crown_Procellariimorphae 60.53
max = crown_Procellariimorphae 84.70

mrca = crown_Spheniscidae Pygoscelis_adeliae Aptenodytes_forsteri
min = crown_Spheniscidae 10.20
max = crown_Spheniscidae 19.67

mrca = crown_Procellariiformes Thalassarche_chlororhynchos Fulmarus_glacialis
min = crown_Procellariiformes 33.91
max = crown_Procellariiformes 49.73

mrca = crown_Fregatidae_Suloidea Fregata_magnificens Sula_dactylatra
min = crown_Fregatidae_Suloidea 51.97
max = crown_Fregatidae_Suloidea 76.07

mrca = crown_Pelecanoidea Balaeniceps_rex Pelecanus_crispus
min = crown_Pelecanoidea 29.54
max = crown_Pelecanoidea 47.23

mrca = crown_Ardeidae Cochlearius_cochlearius Egretta_garzetta
min = crown_Ardeidae 32.06
max = crown_Ardeidae 46.89

mrca = crown_Accipitriformes Sagittarius_serpentarius Aquila_chrysaetos
min = crown_Accipitriformes 50.54
max = crown_Accipitriformes 74.43

mrca = stem_Strigiformes Tyto_alba Aquila_chrysaetos
min = stem_Strigiformes 58.94
max = stem_Strigiformes 87.89

mrca = crown_Coraciimorphae Colius_striatus Eurystomus_gularis
min = crown_Coraciimorphae 62.24
max = crown_Coraciimorphae 91.89

mrca = Bucerotes Upupa_epops Buceros_rhinoceros
min = Bucerotes 47.46
max = Bucerotes 163.70

mrca = crown_Coracii Merops_nubicus Eurystomus_gularis
min = crown_Coracii 54.46
max = crown_Coracii 79.49

mrca = Todidae_Alcedinidae Todus_mexicanus Chloroceryle_aenea
min = Todidae_Alcedinidae 33.98
max = Todidae_Alcedinidae 58.53

mrca = crown_Psittacopasseres Nestor_notabilis Passer_domesticus
min = crown_Psittacopasseres 51.84
max = crown_Psittacopasseres 75.30

mrca = crown_Eupasseres Tyrannus_savana Passer_domesticus
min = crown_Eupasseres 30.23
max = crown_Eupasseres 45.73

mrca = Menurides Menura_novaehollandiae Atrichornis_clamosus
min = Menurides 16.09
max = Menurides 84.62

mrca = Meliphagides_minus_Maluridae Dasyornis_broadbenti Pardalotus_punctatus
min = Meliphagides_minus_Maluridae 17.00
max = Meliphagides_minus_Maluridae 48.27

mrca = Orthonychides Orthonyx_spaldingii Pomatostomus_ruficeps
min = Orthonychides 17.76
max = Orthonychides 173.40

mrca = part_Malaconotoidea Gymnorhina_tibicen Mystacornis_crossleyi
min = part_Malaconotoidea 16.00
max = part_Malaconotoidea 27.84

mrca = Certhioidea_Muscicpoidea Certhia_familiaris Erithacus_rubecula
min = Certhioidea_Muscicpoidea 17.23
max = Certhioidea_Muscicpoidea 151.70

mrca = Passerellidae_and_allies Zonotrichia_albicollis Molothrus_ater
min = Passerellidae_and_allies 7.53
max = Passerellidae_and_allies 34.54

nthreads = 16
thorough
#prime

