#treefile = castles_63K_resolved_weighted.rooted.tre
#outfile = treepl_castles_63K_resolved_weighted.rooted.tre
treefile = astral_63K_concat_bl.rooted.tre
outfile = treepl_median_astral_63K_concat_bl.rooted.tre
#treefile = astral4_stiller.rooted.tre
#outfile = treepl_median_astral4_stiller.rooted.tre

smooth = 1000
numsites = 63430000

#cv
#cvoutfile = treepl_median_castles_cv.outfile.txt

# these are the result of running prime
opt = 5
optad = 5
optcvad = 1
moredetailcvad

mrca = crown_Casuariidae Casuarius_casuarius Dromaius_novaehollandiae
min = crown_Casuariidae 27.82
max = crown_Casuariidae 27.82

mrca = crown_Rheidae Rhea_americana Rhea_pennata
min = crown_Rheidae 22.74
max = crown_Rheidae 22.74

mrca = crown_Nothurinae Eudromia_elegans Nothoprocta_perdicaria
min = crown_Nothurinae 7.46
max = crown_Nothurinae 7.46

mrca = crown_Tinaminae_part Crypturellus_soui Tinamus_guttatus
min = crown_Tinaminae_part 24.10
ma = crown_Tinaminae_part 24.10

mrca = crown_Galloanseres Gallus_gallus Anas_platyrhynchos
min = crown_Galloanseres 67.74
max = crown_Galloanseres 67.74

mrca = crown_Anatidae Anas_platyrhynchos Anser_cygnoid
min = crown_Anatidae 27.91
max = crown_Anatidae 27.91

mrca = crown_Phoenicopterimorphae Phoenicopterus_ruber Podiceps_cristatus
min = crown_Phoenicopterimorphae 36.28
max = crown_Phoenicopterimorphae 36.28

mrca = crown_Otidimorphae Tauraco_erythrolophus Ardeotis_kori
min = crown_Otidimorphae 56.68
max = crown_Otidimorphae 56.68

mrca = crown_Daedalornithes Aegotheles_bennettii Chaetura_pelagica
min = crown_Daedalornithes 61.02
max = crown_Daedalornithes 61.02

mrca = crown_Apodi Hemiprocne_comata Chaetura_pelagica
min = crown_Apodi 59.82
max = crown_Apodi 59.82

mrca = crown_Gruiformes Grus_americana Heliornis_fulica
min = crown_Gruiformes 60.76
max = crown_Gruiformes 60.76

mrca = crown_Jacanida Jacana_jacana Thinocorus_orbignyianus
min = crown_Jacanida 32.47
max = crown_Jacanida 32.47

mrca = crown_Alcini Alca_torda Uria_aalge
min = crown_Alcini 21.70
max = crown_Alcini 21.70

mrca  = crown_Phaethontimorphae Phaethon_lepturus Eurypyga_helias
min = crown_Phaethontimorphae 57.88
max = crown_Phaethontimorphae 57.88

mrca = crown_Procellariimorphae Pygoscelis_adeliae Fulmarus_glacialis
min = crown_Procellariimorphae 65.85
max = crown_Procellariimorphae 65.85

mrca = crown_Spheniscidae Pygoscelis_adeliae Aptenodytes_forsteri
min = crown_Spheniscidae 12.50
max = crown_Spheniscidae 12.50

mrca = crown_Procellariiformes Thalassarche_chlororhynchos Fulmarus_glacialis
min = crown_Procellariiformes 38.50
max = crown_Procellariiformes 38.50

mrca = crown_Fregatidae_Suloidea Fregata_magnificens Sula_dactylatra
min = crown_Fregatidae_Suloidea 56.61
max = crown_Fregatidae_Suloidea 56.61

mrca = crown_Pelecanoidea Balaeniceps_rex Pelecanus_crispus
min = crown_Pelecanoidea 34.17
max = crown_Pelecanoidea 34.17

mrca = crown_Ardeidae Cochlearius_cochlearius Egretta_garzetta
min = crown_Ardeidae 35.40
max = crown_Ardeidae 35.40

mrca = crown_Accipitriformes Sagittarius_serpentarius Aquila_chrysaetos
min = crown_Accipitriformes 55.83
max = crown_Accipitriformes 55.83

mrca = stem_Strigiformes Tyto_alba Aquila_chrysaetos
min = stem_Strigiformes 65.78
max = stem_Strigiformes 65.78

mrca = crown_Coraciimorphae Colius_striatus Eurystomus_gularis
min = crown_Coraciimorphae 67.99
max = crown_Coraciimorphae 67.99

mrca = Bucerotes Upupa_epops Buceros_rhinoceros
min = Bucerotes 62.00
max = Bucerotes 62.00

mrca = crown_Coracii Merops_nubicus Eurystomus_gularis
min = crown_Coracii 59.91
max = crown_Coracii 59.91

mrca = Todidae_Alcedinidae Todus_mexicanus Chloroceryle_aenea
min = Todidae_Alcedinidae 39.98
max = Todidae_Alcedinidae 39.98

mrca = crown_Psittacopasseres Nestor_notabilis Passer_domesticus
min = crown_Psittacopasseres 56.68
max = crown_Psittacopasseres 56.68

mrca = crown_Eupasseres Tyrannus_savana Passer_domesticus
min = crown_Eupasseres 33.98
max = crown_Eupasseres 33.98

mrca = Menurides Menura_novaehollandiae Atrichornis_clamosus
min = Menurides 26.77
max = Menurides 26.77

mrca = Meliphagides_minus_Maluridae Dasyornis_broadbenti Pardalotus_punctatus
min = Meliphagides_minus_Maluridae 22.24
max = Meliphagides_minus_Maluridae 22.24

mrca = Orthonychides Orthonyx_spaldingii Pomatostomus_ruficeps
min = Orthonychides 26.25
max = Orthonychides 26.25

mrca = part_Malaconotoidea Gymnorhina_tibicen Mystacornis_crossleyi
min = part_Malaconotoidea 19.52
max = part_Malaconotoidea 19.52

mrca = Certhioidea_Muscicpoidea Certhia_familiaris Erithacus_rubecula
min = Certhioidea_Muscicpoidea 25.21
max = Certhioidea_Muscicpoidea 25.21

mrca = Passerellidae_and_allies Zonotrichia_albicollis Molothrus_ater
min = Passerellidae_and_allies 11.37
max = Passerellidae_and_allies 11.37

nthreads = 16
thorough
#prime

